.workTitle{
	font-size: large;
	padding: 5px;
}

.workDetail{
	padding-bottom: 30px;
	padding-top: 5px;
}

.workMsg{
	height: 200px;
}

.workMsg > div:hover{
	border: 2px solid #fff;
	color:#f05f40;
}

.icon-e{
	float: right;
    font-size: small;
    position: relative;
    top: 30px;
}

.shuxian{
	border-right:1px solid gray;
	padding-right:5px;
	padding-left:5px;
	font-size: small;
}

.last{
	border-right:none;
}

.pay{
	position: relative;
    left: 130px;
    border: 1px solid #ddd;
    font-size: small;
    color: #707070;
}

.padding-left{
	padding-left: initial;
}

.padding-top{
	text-align: center;
    padding-top: 80px;
}

.logout{
	right: 70px;
    position: absolute;
    top: 18px;
}

.smallerfont{
	font-size: smaller;
}

.quhaos{
	top: 15px;
	left: 550px;
	font-size: initial;
	position: relative;
}

.quhao{
	padding: 10px;
}